
.title-banner1{
    background-image: url("img/watertap.jpg");
}
.title-banner2{
    background-image: url("img/banner2.jpg");
}
.title-banner3{
    background-image: url("img/fitting.jpg");
  
}

.title-banner-all {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    display: flex;
    overflow: hidden; 
    padding: 0;
    height: 50vh;

}
.parent{
    display:flex;
    height: 100%;
}

.tilte-banner-part1-right{
    color:#fff;
    flex: 1;
     width:100%;
     background-color: rgba(0,0,0,.45);
     height: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    vertical-align:middle;
}



/* 
body,html,*{
    margin: 0px important;
    padding: 0px important;
} */
.nav-item .dropdown-menu{
    border-radius: 0px;
    margin-top: 10px;
    color:gray;
    background-color: orange

}
.area-top{
    background-color: gray;
    color:#fff
    font:10px
    padding: 15px 70px;
}
.navbar{
    background-color: blue;
}