.title-banner1 {
    background-image: url("img/switch.jpg");
}

.title-banner2 {
    background-image: url("img/banner4.jpg");
}

.title-banner3 {
    background-image: url("img/watertap.jpg");
}
/* img{
    width: 100px;
    height: 100px;
} */
.title-banner-all {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
    padding: 0;
    height: 50vh;
}

.parent {
    display: flex;
    height: 100%;
}

.tilte-banner-part1-right {
    color: #fff;
    flex: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, .45);
    height: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    padding: 20px;
    position: relative;
}

.area-top {
    color:orange;
    padding: 10px 10px;
    background-color: rgb(167, 29, 29);
    
}
*{
    margin: 0;
    padding: 0;
}
.container-fluid{
    margin: 0;
    padding: 0;
}
/* 
body,html,*{
    margin: 0px important;
    padding: 0px important;
} */

.home{
    color:blue;
}
.dr{
    color: #f5a700;
}
.stetoscope{
  color:#444444;
}
.navbar-light{
    background-color: #2d6167;
    
}
.nav-item .dropdown-menu {
    border-radius: 0px;
    margin-top: 8px;
    color: gray;
    background-color: orange
}

.dropdown-divider{
    border: 1px solid green;
    padding: 0;
    margin: 0px !important;
}


/* .brand-class{
    position: absolute;
    top:40px;
} */
.navbar-light .navbar-nav .active>.nav-link,
 .navbar-light .navbar-nav .nav-link.active, 
 .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .show>.nav-link
  /* .navbar-light .navbar-nav .nav-link, */
{
    /* background-color: #006ac6 ; */
    /* background-color:rgba(0,3,74,1)!important; */
    color:#fff;
    color:#fff; 
}

.navbar-nav .nav-item .nav-link

{
    color:#fff;
    padding-left: 20px;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:focus

{
    color:#f5a700;
}

.mt-10 {
    margin-top: 10px;
}

.innerclass {
    position: absolute;
    top: 15%;
    left: 20%;
}

.centerclass {
    text-align: center;
}
.arrowbox{
    width: 30px;
    height: 45px;
    background-color:#fff;
    color: black;
    opacity:1;
    position: absolute;
    /* top:50px; */
    line-height: 45px;
}
.left-arrow{
    left: 0;
}

.right-arrow{
    right: 0;
}
.arrowbox:hover{
    color:red;
}


/* air condition sectoon */
.right-wrapper{
/* border: 1px solid red; */
position: relative;
display: flex;
padding: 0;
text-align: center;
color:#fff;
}

h1{
    color:#f5a700;
}
.heading{
    position: absolute;
    bottom:0;
    margin: 0;
    display: block;
    width: 300px;
    height: 50px;
    color:#006ac6;
    border:1px solid red;
    background-color: #f5a700;
}

.right-wrapper-right{
    margin: 0px;
    padding: 20px;
   
   
    /* border:1px solid red; */
    background-color:yellow;
    flex:1;
}

.right-wrapper-left{
    margin: 0;
    padding: 0;
    border:1px solid green;
    background-color: #f5a700;
}

.bluewrapper{
border: 1px solid red;
    position: relative;
    
}

.bluebar{
    background-image: url("img/header-bg-right.jpg");

width: 500px;
height: 100px;
background-size: 100% 100%;
    background-repeat: repeat;
}

.rightside{

    background-image: url("img/rightarrow.png");
position: absolute;
left:500px;
top:0;
/* background-color: red; */
width: 50px;
height: 100px;
background-size: 100% 100%;
background-repeat: no-repeat;
}
.navbar-light .navbar-brand{
    color:#f5a700;
    /* border: 1px solid red !important; */
    
}


/*  contact */



.col-lg-6.contact-leftside{
border: 1px solid red;
text-align: center;    
background-color:green;
/* margin: 0; */
padding: 0;


}
    
    
    .col-lg-6.contact-riteside{
        color:red;

}

.contact-innerleft{
    /* background-color:gray; */
    /* text-align: center; */
    color:#fff;
}




/* 
#e5342c;
#ed9e48;
#2d6167
#eb8b22;
#e64f2b;

 */
 .contact-innerrite
{
    /* background-color:#e97c25; */
    border: 1px solid  purple;
} 
.circle2
{
    border: 1px solid red;
    background-image: url("img/circleimage.png");
    background-repeat: no-repeat;
    background-position: center center;
    height: 237px;

}
.circle3
{
    background-image: url("img/circle2ndhalf-1.png");
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 20px;
    height: 80px;
}

.circle4
{
    background-image: url("img/cirlce2nd4.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 80px;

}
.circle5{
    height: 100px;
    background-image: url("img/circle2nd5.png");
    background-position: center center;
    background-repeat: no-repeat;
}


.contact1{
    background-image: url("img/slice_0_0.png");
    height: 210px;
    background-position: center center;
    background-repeat: no-repeat;
    color: red;
border: 1px solid red !important;
}
/* 
.contact1 img{
margin: 50px 20px;
background-color:#444444;
padding: 20px;
border-radius: 5px;
} */


/* .contact2-div
{

    right: 140px;

} */


.contact-image{
    margin-top: 8px;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    /* background-color:#3faee2 */
    /* border: 1px solid red; */
}
.contact2 img,
.contact3 img,
.contact4 img,
.contact5 img{
    
    width: 50px;
    height: 50px;
    /* padding: 10px; */
}
.contact2{
    /* border: 1px solid red !important; */
    /* z-index: 888; */
position: relative;
    background-image: url("img/slice_1_0.png");
    background-position: center center;
    
    /* width:600px; */
height:70px;
    background-repeat: no-repeat;
    /* display: flex;
    overflow: hidden;
    
    /* margin-left: -20px; */
    margin-top: -10px; 
}

.contact3{
    /* border: 1px solid red !important; */
    /* z-index:9999; */

    /* background-image: url("img/slice_2_0.png"); */
    background-position: center center;
    color:#2d6167;
    font-size: 22px;

    /* width:600px; */
height: 70px;
    background-repeat: no-repeat;
    /* display: flex;
    overflow: hidden;
    /* margin-left: 20px; */
    margin-top: -10px; 
    
}

.contact4{
    border: 1px solid red !important;

    background-image: url("img/slice_3_0.png");
    background-position: center center;

    /* width:600px; */
height: 70px;
padding-top: 0;
    background-repeat: no-repeat;
    /* display: flex; */
    /* overflow: hidden; */
    margin-top: -10px;
    /* margin-left: -50px; */
    
}

.contact5{
    /* border: 1px solid red !important; */

    background-image: url("img/slice_4_0.png");
    background-position: center center;

    /* width:600px; */
    height: 70px;
    padding-top: 0;
    background-repeat: no-repeat;
    /* display: flex; */
    overflow: hidden;
    margin-top: -12px;
    /* margin-left: 50px; */
    
}


.row{
    padding:0;
    margin: 0;
}

.col-lg-6,
.col-sm-6,
.col-md-6

{
    padding:0;
    margin: 0;
}
.footer-sec
{

/* background-image: url("img/footer.png"); */
    width:100%;
    height: 570px;
    border: 1px solid red;
    /* padding-top: 0; */
    background-repeat: no-repeat;
    /* display: flex; */
    /* overflow: hidden; */
    /* margin-top: -12px; */
    /* margin-left: 50px; */
}
.footer-sec img{
    width: 100%;
    height: 100%;
}